SCRAM-SHA-1(-PLUS) + SCRAM-SHA-256(-PLUS) + SCRAM-SHA-512(-PLUS) + SCRAM-SHA3-512(-PLUS) supports

Dear @MailCleaner team,

In first, I wish you a Happy New Year!

Can you add supports of:
- SCRAM-SHA-1
- SCRAM-SHA-1-PLUS
- SCRAM-SHA-256
- SCRAM-SHA-256-PLUS
- SCRAM-SHA-512
- SCRAM-SHA-512-PLUS
- SCRAM-SHA3-512
- SCRAM-SHA3-512-PLUS

You can add too:
- SCRAM-SHA-224
- SCRAM-SHA-224-PLUS
- SCRAM-SHA-384
- SCRAM-SHA-384-PLUS

"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCRAM-SHA-256 variant, and SHA-256 variants [RFC7677] SHOULD be preferred over SHA-1 variants [RFC5802]".

- SCRAM-SHA-1(-PLUS):
-- https://tools.ietf.org/html/rfc5802
-- https://tools.ietf.org/html/rfc6120

- SCRAM-SHA-256(-PLUS):
-- https://tools.ietf.org/html/rfc7677 since 2015-11-02
-- https://tools.ietf.org/html/rfc8600 since 2019-06-21: https://mailarchive.ietf.org/arch/msg/ietf-announce/suJMmeMhuAOmGn_PJYgX5Vm8lNA

- SCRAM-SHA-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha-512

- SCRAM-SHA3-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha3-512

https://xmpp.org/extensions/inbox/hash-recommendations.html

-PLUS variants:
- RFC5056: On the Use of Channel Bindings to Secure Channels: https://tools.ietf.org/html/rfc5056
- RFC5929: Channel Bindings for TLS: https://tools.ietf.org/html/rfc5929
- Channel-Binding Types: https://www.iana.org/assignments/channel-binding-types/channel-binding-types.xhtml
- RFC 9266: Channel Bindings for TLS 1.3: https://tools.ietf.org/html/rfc9266

IMAP:
- RFC9051: Internet Message Access Protocol (IMAP) - Version 4rev2: https://tools.ietf.org/html/rfc9051

LDAP:
- RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803

HTTP:
- RFC7804: Salted Challenge Response HTTP Authentication Mechanism: https://tools.ietf.org/html/rfc7804

2FA:
- Extensions to Salted Challenge Response (SCRAM) for 2 factor authentication: https://tools.ietf.org/html/draft-melnikov-scram-2fa

IANA:
- Simple Authentication and Security Layer (SASL) Mechanisms: https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml

Linked to:
- https://github.com/scram-xmpp/info/issues/1


Hello and happy new year!

Most of the authentication mechanisms on a MailCleaner appliance are provided by the related Debian packages. It would likely require use to compile and and distribute new packages to support this. We are currently working on releasing for the current Stable release which may bring this support.

We do distribute a custom version of Exim, so we can look in to adding SCRAM support there the next time that an updated version gets packaged.

@JohnMertz: Thanks for your quickly reply and your wishes :)

Exim supports SCRAM via GNU SASL (gsasl):
- https://bugs.exim.org/show_bug.cgi?id=2349

You have a lot of changes in your Exim?

Just to update this issue. I was not able to get a recent enough version of GNU TLS to compile in order to build the Exim 4.96 package for Jessie. This, as with many other enhancements will come when we upgrade the base OS. That project is underway but has no ETA.

@JohnMertz: Time to upgrade your Debian Jessie...

@JohnMertz: After more one year, have you looked SCRAM?

Development of a Debian Bookworm appliance is underway (I'm just cleaning up issues in this repo to make sure there aren't any more critical issues before resuming working on that) https://github.com/MailCleaner/MailCleaner-Next

SCRAM is not going to ever be supported by the Jessie release, so I'm going to close this issue. It should be supported out-of-the-box with Bookworm, but that repo is not anywhere near production ready yet. We will announce a Beta test when VMs are available and basic mail delivery is stable (with no guarantees for all Web and spam filtering features).