Exim Stage 1: message has lines too long for transport

Hi,

I'm seeing multiple valid messages failing to be delivered with this error:

`R=filter_forward T=local_smtp: message has lines too long for transport`

But tracing only shows its accepted:

![image](https://user-images.githubusercontent.com/14948700/184409222-088a19cb-3944-4616-aa6e-414b1789e5d6.png)

Apparently Exim 4.95 started enforcing [RFC 5322 Section 2.1.1](https://datatracker.ietf.org/doc/html/rfc5322#section-2.1.1) and thats causing the issue, because not all senders (including Outlook) limit lines to 998 characters.

I've tried setting message_linelength_limit on exim_stage1 template inside remote_smtp but it doesn't seem to work.

Thanks!.

I'm having the same problem. All worked fine until August 12th.

Is there a solution for this problem?

We have seen this as well and are investigating a solution. To better explain the issue:

The specification for the SMTP protocol is such that any line of an email MUST NOT exceed 1000 characters. Exim has historically been relaxed about ignoring lines longer than this. As of version 4.95 it appears that Exim has started to strictly enforce this standard. We pushed out version 4.96 last week, so the standard is being enforced in MailCleaner now.

The problem is, despite it being a 'MUST NOT' in the specifications, it appears that Microsoft clients (eg. Outlook, IIS, etc.) ignore this part of the specification. It is uncommon for a line in an email to get this long, so it is not all Microsoft-based mail, but if it does occur, those emails will be invalid SMTP messages.

Given that relying on Microsoft to fix the issues is not really an option, there are a couple of approaches that we can take to fix this issue.

- Re-compile Exim to resume ignoring this problem. This is not the preferred solution because it may require us to maintain this patch into the future and it is not guaranteed that such a workaround will be possible to implement into the future.

-  Fix incoming messages by folding any lines in incoming messages which exceed 1000 characters. This is better because it is guaranteed to continue working, however it also has the potential to break the DKIM signing of the messages. That would only be a problem for these offending messages.

While we investigate these options, the most immediate solution is to downgrade to Exim 4.94.2 which still ignores this error:

```
apt install mc-exim=4.94.2
for i in 4 2 1; do /usr/mailcleaner/etc/init.d/exim_stage$i restart; done
```

When I have one of the solutions published (probably later this week), I will close this issue so that you can upgrade to 4.96 again.

Thank you for the workaround, it fixes the issue but exposes us to 21Nails, so I'm cautious about leaving it like that for too long...



This is hopefully fixed completely by #482

To summarize the commit:
- Two new configurations are added to the 'mta_config' table in the 'mc_config' database: 'allow_long' and 'folding' (these settings do not yet have buttons within the WebUI).
- The former will actually allow the long lines to be processed and is enabled by default. This essentially gets us pack to the status quo of versions <4.95. ie. The messages are passed along as-is. The SMTP remains invalid and the next relay may decide to reject it for this reason. If disabled, these messages will be rejected with a proper SMTP failure code rather than just relying on a MTA error.
- The latter is disabled by default and will actually fold the long lines so that the SMTP becomes valid at the cost of having to actually modify the message. For outgoing messages, this will have no impact on DKIM signing because it is modified prior to signing. For incoming messages it somewhat increases the chance of a DKIM failure, but you shouldn't be doing DKIM checks for messages filtered by MailCleaner anyways (there are many other headers which could break the signing even without this new feature).
- Updater4MC will upgrade the databases, so this PR should just work when installed by that method. If you want to test the PR before merging (should be done before the end of the workday Friday if there are no issues) then you will need to pull the changes, run `/usr/mailcleaner/bin/check_db -m --update` and  `/usr/mailcleaner/bin/check_db -s --update` to add the new columns, then restart stage 1 and 4.

It would be useful if anyone does want to test this independently before it gets merged to increase our sample size, but I'm also installing it on our Cloud to test. After testing and merging, I will hopefully have the GUI configuration available quickly.

Fixed in #482, GUI configuration to come.

Please increase the message_linelength_limit from 1,000,000 to higher, eg 5,000,000 or allow configuration of this value from db/Web for us to adjust. 

I have multiple emails still blocked, example of log
Warning: Message from <""> to <""> exceeds RFC 5322 maximum line length (1376608 > 998)
R=filter_forward T=local_smtp: message has lines too long for transport

Warning: Message from <> to <> exceeds RFC 5322 maximum line length (2011468 > 998)
R=filter_forward T=local_smtp: message has lines too long for transport


Hmm... I'd gone with 1,000,000 because it was the over-the-top max value selected by CPanel who are (I estimate) the largest deployer of Exim. This is to say that it was fairly arbitrary, so I'm not against increasing it, but it is also incredibly bad form from the sender that they are exceeding a length that was targetted as being comically large.

I expect that making exact value configurable is more confusing than necessary when the nonimal setting is the "ignore long lines". I'll bump the default to 5M, and add a flat file which can be configured to override that file. Should be possible to have this out in the next day or two.

I'm testing #500 to bump the limit to 5,000,000. You'll be able to override this value by entering an integer into a file: /var/mailcleaner/spool/mailcleaner/exim_max_line_length
Should be merging it tomorrow if nothing blows up. Feel free to check out the PR:
```
cd /usr/mailcleaner
git pull
git fetch origin pull/500/head:5M-lines
git checkout 5M-lines
for i in 4 2 1; do etc/init.d/exim_stage$i restart; done
```
Create your file with the custom line count before the last command if you don't want to use 5M.